In [45]:
import numpy as np
from scipy.stats import ttest_1samp , levene, shapiro
from statsmodels.stats.power import ttest_power
import pandas as pd

In [22]:
titan_df=pd.read_csv('titan_company.csv')
titan_df.head()

   SALESPERSON  Old Scheme (in thousands)  New Scheme (in thousands)
0            1                         57                         62
1            2                        103                        122
2            3                         59                         54
3            4                         75                         82
4            5                         84                         84

In [23]:
# 1. Find the mean of old scheme and new scheme column.
titan_df['Old Scheme (in thousands)'].mean()

68.03333333333333

In [24]:
titan_df['New Scheme (in thousands)'].mean()

72.03333333333333

In [44]:
# 2. Use the five percent significance test over the data to determine the p value to check new scheme has significantly raised outputs?
# H0= New scheme has significantly raised output.
# Ha= New scheme has not raised output.

#First test the normality by shapiron test
#Group 1 Test
group1=(titan_df['Old Scheme (in thousands)'])
print (shapiro(group1))
#Group 2 Test
group2=(titan_df['New Scheme (in thousands)'])
print (shapiro(group2))

print ('Since both the tests have p-values greater than 0.05 so the data is normal. Hence go for variance test')

(0.9885101914405823, 0.9813658595085144)
(0.9687567353248596, 0.5057420134544373)
Since both the tests have p-values greater than 0.05 so the data is normal. Hence go for variance test

In [46]:
#Testing variance Test. Since our data is normalized we will go with levene Test
print (levene(group1,group2))
print (' ')
print ('Since p-value is greater than 0.05 so the variance test is also satisfied. i.e both the groups have the same variance. So, Now let\'s go for parametric Test.')

LeveneResult(statistic=1.063061539437244, pvalue=0.30679836081811235)

Since p-value is greater than 0.05 so the variance test is also satisfied. i.e both the groups have the same variance. So, Now let's go for parametric Test.

In [48]:
#T Test
t_statistic, p_value = ttest_1samp(group2 - group1,0)#(post-pre) 
print ("paired t-test p-value=", p_value)

paired t-test p-value= 0.13057553961337662

In [51]:
# 3. What conclusion does the test (p-value) lead to?
print ('Conclusion: THe claimed data or hypothesis (H0) is accepted. And it tells us that the new scheme by the company has significantly raised output.')

Conclusion: THe claimed data or hypothesis (H0) is accepted. And it tells us that the new scheme by the company has significantly raised output.

In [ ]:
# 4. Suppose it has been calculated that in order for Titan to break even, the average output must increase by Â£5000 in the scheme compared to the old scheme. If this figure is alternative hypothesis, what is:
#        a) The probability of a type 1 error? (2 points)

#        b) What is the p- value of the hypothesis test if we test for a difference of $5000? (8 points)

#        c) Power of the test (5 points)